<table>
  <thead>
    <th>Location</th>
    <th>Violation</th>
    <th>Comment</th>
    <th>Created</th>
    <th>Updated</th>
    <th>Status</th>
  </thead>
  <tbody>
    <tr ng-repeat="item in listings.violations">
      <td>{{item.locationName}}</td>
      <td>{{item.violation}}</td>
      <td>{{item.comment}}</td>
      <td>{{item.createdAt}}</td>
      <td>{{item.updatedAt}}</td>
      <td>{{item.status}}</td>
      <td>
        <button ng-click=listings.closeListing(item) ng-show='item.status === "pending"'>Close</button>
        <button ng-click=listings.openListing(item) ng-show='item.status === "closed"'>Re-open</button>
      </td>
    </tr>
  </tbody>


</table>
