<div class="container">
  <div class="auth">
    <h1>Ada</h1>
    <form name="signinForm" ng-submit='signin()' ng-controller="frontAuthCtrl">
      <div class="auth-header auth-header-border">
        <h2>Please Sign In</h2>
      </div>
      <div class="email email-label">
        <label for="inputEmail">Email</label>
      </div>
      <div class="email email-box">
        <input type='text' id="inputEmail" placeholder="Email" ng-model='user.email' required autofocus>
      </div>
      <div class="password password-label">
        <label for="password">Password</label>
      </div>
      <div class="password password-box">
        <input type="password" id="password" placeholder="Password" ng-model='user.password' required>
      </div>
      <div class="btn signin" ng-click=signin()>
        Sign in
      </div>
      <div class="btn signup" ng-click=signupRedirect()>
        Signup
      </div>
    </form>
  </div>
</div>
